body {
    background-color: #01030b;
    color: #5b7cab;
    font-family: 'Georgia', serif;
    width: 100%;
    padding: 0;
    margin: 0;
}
.genre {
    color: #c5dbf5;
    border: solid 3px;
    width: 900px;
    height: 110px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    font-size: large;
    font-weight: 100px;
    box-shadow: 0 4px 10px ;

}

.Titre {
    text-align: center;
    color: #5b7cab;
}

.couleur {
    text-align: center;
}

.Code {
    color: blue;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}

.liens {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-bottom: 5px solid;
    
    border-color: #1a2d4c;
}

p {
    margin: 0.75rem 0;
    line-height: 1.5;
}

a:link,
a:visited {
    color: #c5dbf5;
    text-decoration: none;
    margin-right: 100px;
}

.conteneur {
    width: 80%;
    margin: 0 auto;
}

.introduction {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    margin: 0 auto;
    max-width: 1100px;
    flex-wrap: wrap;
    gap: 5rem;
}

.couverture {
    max-width: 300px;
    margin-bottom: 20px;
    flex-shrink: 0;
}

.contenu {
    text-align: left;
    max-width: 600px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    font-style: italic;
}

h3 {
    font-size: 1.2rem;
    margin-top: 1.5rem;
}

blockquote {
    font-style: italic;
    font-size: 1.1rem;
    margin-top: 2rem;
}

.annotations {
    max-width: 350px;
    margin-bottom: 20px;
    flex-shrink: 0;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lexique {
    color: #c5dbf5;
    border: dotted ;
    width: 1000px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    font-size: large;
    list-style-type: none;
    font-family: 'Segoe UI', sans-serif;
    box-shadow: 0 4px 10px ;
}